BOT_TOKEN=8059342403:AAE7BOZcQesYM3JLHBCcAyldhSLfcFSsj3U
ADMIN_CHAT_ID = 6380709159
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DB=telegram_bot_system
MYSQL_PORT=3306

OXAPAY_API_KEY=S6SKEM-FYM4MC-P77EAP-3BMH12
CRYPTOBOT_TOKEN=your_crypto_token

DEBUG=True
WEBHOOK_URL=https://yourdomain.com/webhook
TIMEZONE=Asia/Ho_Chi_Minh
URL_BOT=https://t.me/tx_hieusoft_bot
MAX_PAGE_LENGTH=2000